$red-500: #ff1002;
$orange-900: #ff6838;
$orange-850: #ff7a50;
$silver-200: #ececec;
$silver-150: #fff2ed;
$silver-100: #f9faff;
$gray: #c2c2c2;
$gray-800: #adadad30;
$darkBlue-900: #363853;
$dark: #31352b;

$black: #000000;
$white: #ffffff;

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
