.popular-categories {
    &__title {
        text-align: center;
        margin-bottom: 60px;
    }

    &__items {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        margin-bottom: 60px;
    }

    &__item {
        display: flex;
    }

    &__more {
        display: block;
        margin: 0 auto;
        font-size: 20px;
        line-height: 1.5;
        text-decoration: underline;
        transition: color 0.3s, text-shadow 0.3s, box-shadow 0.3s;

        &:focus {
            box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
        }

        &:hover {
            color: $orange-900;
        }

        &:active {
            text-shadow: 2px 2px 5px rgba($darkBlue-900, 0.5);
        }
    }
}