.social {
    display: flex;

    &__item {
        &:not(:last-child) {
            margin-right: 13px;
        }
    }

    &__link {
        width: 39px;
        height: 39px;
        z-index: 1;
        background-color: $silver-200;
        border-radius: 50%;
        transition: box-shadow 0.3s, background-color 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;

        &:focus,
        &:active {
            background-color: $silver-150;
        }

        &:focus {
            box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
        }

        &:hover {
            background-color: $orange-900;

            .social__icon {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(75deg) brightness(111%) contrast(102%);
            }
        }

        &:active {
            background-color: $gray-800;

            .social__icon {
                filter: invert(68%) sepia(27%) saturate(5298%) hue-rotate(326deg) brightness(101%) contrast(101%);
            }
        }
    }

    &__icon {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 20px;
        height: 20px;
        display: inline-block;
        filter: invert(17%) sepia(21%) saturate(335%) hue-rotate(42deg) brightness(98%) contrast(92%);
    }
}