<section class="app">
    <div class="container">
        <div class="app__wrapper">
            <div class="app__content">
                <h2 class="title">
                    Скачайте мобильное приложение
                </h2>
                <div class="app__text">
                    <p>
                        Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном месте.
                    </p>
                </div>
                <ul class="app__items">
                    <li class="app__item">
                        <a class="app__link" href="#" target="_blank" style="background-image: url('img/app/app-store.svg');">
                            <span class="sr-only">
                                Скачать в App Store
                            </span>
                        </a>
                    </li>
                    <li class="app__item">
                        <a class="app__link app__link--big" href="#" target="_blank" style="background-image: url('img/app/google-play.svg');">
                            <span class="sr-only">
                                Скачать в Google Play
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="app__img" style="background-image: url('img/app/app-bg.jpg');"></div>
        </div>
    </div>
</section>