<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__columns">
                <div class="footer__left">
                    <a class="footer__logo logo" href="#">
                        <img class="logo__img" src="img/logo.svg" alt="Логотип" width="200" height="40">
                    </a>
                    <form class="footer__form subscribe-form" action="">
                        <label class="sr-only" for="email-subscribe">Введите свой email</label>
                        <input class="subscribe-form__field" id="email-subscribe" type="email" placeholder="Ваш email" name="email-subscribe" required>
                        <button class="subscribe-form__btn link link--icon" type="submit">
                            Подписаться
                        </button>
                    </form>
                </div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Как это работает
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Продукты
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Блюда
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Меню
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            О нас
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Новости
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Партнеры
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            ЧаВо
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Скачать приложение
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Блог
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Что нового?
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Карта сайта
                        </a>

                    </li>
                </ul>
                <address class="contacts-info">
                    <ul class="contacts-info__items">
                        <li class="contacts-info__item">
                            <a class="contacts-info__link contacts-info__link--address" href="#">
                                ул. Смирнова 2/3
                            </a>
                        </li>
                        <li class="contacts-info__item">
                            <a class="contacts-info__link contacts-info__link--tel" href="tel:+7(906)8057043">
                                79068057043
                            </a>
                        </li>
                        <li class="contacts-info__item">
                            <a class="contacts-info__link contacts-info__link--email" href="mailto:support@sfood.com">
                                support@sfood.com
                            </a>
                        </li>
                    </ul>
                    <ul class="social">
                        <li class="social__item">
                            <a class="social__link" href="#" style="background-image: url('img/social/facebook.svg')">
                                <span class="sr-only">facebook</span>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" style="background-image: url('img/social/twitter.svg')">
                                <span class="sr-only">twitter</span>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" style="background-image: url('img/social/instagram.svg')">
                                <span class="sr-only">instagram</span>
                            </a>
                        </li>
                    </ul>
                </address>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <span class="footer__copy">
                © 2021 Simple Food
            </span>
        </div>
    </div>
</footer>