@if (context.card === "full") {
<article class="restaurant-card">
    <img class="restaurant-card__img" src="img/restaurant/@img.jpg" alt="@alt" width="370" height="300">

    <div class="restaurant-card__content">
        <h3 class="restaurant-card__title">
            <a href="#">@title</a>
        </h3>
        <div class="restaurant-card__bottom">
            <time class="restaurant-card__time">
                @time
            </time>
            <a class="restaurant-card__link" href="#">
                <span class="sr-only">Подробнее</span>
            </a>
        </div>
    </div>
</article>
}

@if (context.card === "normal") {
<article class="restaurant-card">
    <img class="restaurant-card__img" src="img/restaurant/@img.jpg" alt="@alt">
    <h3 class="restaurant-card__title">
        <a href="#">@title</a>
    </h3>
</article>
}